<h1>Public::CartItems#index</h1>
<p>Find me in app/views/public/cart_items/index.html.erb</p>

<% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.id %></td>
      <td><%= link_to cart_item.name, item_path(item.id) %></td>
      <td><%= cart_item.price %></td>
    </tr>
    <% end %>